<?xml version="1.0" ?>

<world name="spikeball_world" gravity="0.0 0.0 -9.81">

	<robot name="panda_spikeball_1">
		<model dir="./resources" path="panda_spikeball.urdf" name="panda_spikeball_1" />
		<origin xyz="1.0 1.0 0.0" rpy="0 0 3.1415926" />
	</robot>

	<robot name="panda_spikeball_2">
		<model dir="./resources" path="panda_spikeball.urdf" name="panda_spikeball_2" />
		<origin xyz="-1.0 1.0 0.0" rpy="0 0 -1.57079632679" />
	</robot>

	<robot name="panda_spikeball_3">
		<model dir="./resources" path="panda_spikeball.urdf" name="panda_spikeball_3" />
		<origin xyz="-1.0 -1.0 0.0" rpy="0 0 0" />
	</robot>

	<robot name="panda_spikeball_4">
		<model dir="./resources" path="panda_spikeball.urdf" name="panda_spikeball_4" />
		<origin xyz="1.0 -1.0 0.0" rpy="0 0 1.57079632679" />
	</robot>

	<robot name="ball">
		<model dir="./resources" path="ball.urdf" name="ball" />
		<origin xyz="-.6 -.6 1.0" rpy="0 0 0" />
	</robot>

	<static_object name="Ground_With_Texture">
		<origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
		<collision>
	        <origin xyz="0.0 0.0 -0.0001" rpy="0 0 0" />
	        <geometry>
	            <box size="100 100 0.0002" />
	        </geometry>
	    </collision>
	    <visual>
	    	<origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
	        <!-- <origin xyz="0.0 0.0 -0.0001" rpy="0 0 0" /> -->
	        <geometry>
	            <mesh filename="./resources/../../../model/test_objects/meshes/visual/ground.obj" scale="1.0 1.0 1.0"/>
	            <!-- <box size="100 100 0.0002" /> -->
	        </geometry>
<!-- 	        <material name="material_grey">
		        <color rgba="0.1 0.1 0.1 1.0" />
	        </material> -->
	    </visual>
	</static_object>

	<static_object name="Net">
		<origin xyz="0.0 0.0 0.1016" rpy="0 0 0" />
		<collision>
	    	<origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
	        <geometry>
	             <box size="1.0 1.0 0.2032" />
	        </geometry>
	    </collision>
	    <visual>
	    	<origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
	        <!-- <origin xyz="0.0 0.0 0.2715" rpy="0 0 0" /> -->
	        <!--<geometry>
	            <mesh filename="./resources/../../../model/spikeball/meshes/visual/net-i-hope.obj" scale="1.0 1.0 1.0"/>
	             <box size="1.0 1.0 0.2032" />
	        </geometry> -->
	        <geometry>
	             <box size="1.0 1.0 0.2032" />
	        </geometry>
	    </visual>
	</static_object>

	<light name="light1" type="directional">
		<position xyz="2.0 -2.0 2.0" />
		<lookat xyz="0.0 0.0 0.0" />
	</light>

	<light name="light2" type="directional">
		<position xyz="2.0 2.0 2.0" />
		<lookat xyz="0.0 0.0 0.0" />
	</light>

	<camera name="camera_fixed">
		<position xyz="0.0 -3.0 2.0" />
		<vertical xyz="0.0 0.0 1.0" />
		<lookat xyz="0.0 0.0 0.3" />
	</camera>

</world>
